<launch> 
    <!-- Blood Oxigenation Measurement Sensor -->    
    <node name="patient" pkg="patient" type="patient" output="screen" />    

    <param name="vitalSigns" value="oxigenation, heart_frequency, temperature, systolic_pressure, diastolic_pressure" >

    <!-- Markov chain for oxigenation -->
    <param name="oxigenation_State0" value="0,0,0,0,0" />
    <param name="oxigenation_State1" value="0,0,0,0,0" />
    <param name="oxigenation_State2" value="0,0,90,8,2" />
    <param name="oxigenation_State3" value="0,0,75,10,5" />
    <param name="oxigenation_State4" value="0,0,5,35,60" />

    <!-- Risk values for oximeter -->
    <param name="oxigenation_HighRisk0" value="-1,-1" />
    <param name="oxigenation_MidRisk0" value="-1,-1" />
    <param name="oxigenation_LowRisk" value="65,100" />
    <param name="oxigenation_MidRisk1" value="55,65" />
    <param name="oxigenation_HighRisk1" value="0,55" />

    <!-- Markov chain for heart frequency -->
    <param name="heart_frequency_State0" value="72,21,4,2,1" />
    <param name="heart_frequency_State1" value="14,61,19,4,2" />
    <param name="heart_frequency_State2" value="1,17,60,20,2" />
    <param name="heart_frequency_State3" value="0,2,15,70,13" />
    <param name="heart_frequency_State4" value="0,0,2,20,77" />

    <!-- Risk values for heart frequency -->
    <param name="heart_frequency_HighRisk0" value="0,70" />
    <param name="heart_frequency_MidRisk0" value="70,85" />
    <param name="heart_frequency_LowRisk" value="85,97" />
    <param name="heart_frequency_MidRisk1" value="97,115" />
    <param name="heart_frequency_HighRisk1" value="115,300" />

    <!-- Markov chain for temperature -->
    <param name="temperature_State0" value="25,51,21,3,0" />
    <param name="temperature_State1" value="5,50,43,2,0" />
    <param name="temperature_State2" value="0,4,85,11,0" />
    <param name="temperature_State3" value="0,1,32,67,0" />
    <param name="temperature_State4" value="0,0,0,0,0" />

    <!-- Risk values for temperature -->
    <param name="temperature_HighRisk0" value="0,31.99" />
    <param name="temperature_MidRisk0" value="32,35.99" />
    <param name="temperature_LowRisk" value="36,37.99" />
    <param name="temperature_MidRisk1" value="38,40.99" />
    <param name="temperature_HighRisk1" value="41,50" />

    <!-- Markov chain for diastolic pressure -->
    <param name="diastolic_pressure_State0" value="0,0,0,0,0" />
    <param name="diastolic_pressure_State1" value="0,0,0,0,0" />
    <param name="diastolic_pressure_State2" value="0,0,94,4,2" />
    <param name="diastolic_pressure_State3" value="0,0,50,35,15" />
    <param name="diastolic_pressure_State4" value="0,0,31,25,44" />

    <!-- Risk values for diastolic pressure -->
    <param name="diastolic_pressure_HighRisk0" value="-1,-1" />
    <param name="diastolic_pressure_MidRisk0" value="-1,-1" />
    <param name="diastolic_pressure_LowRisk" value="0,80" />
    <param name="diastolic_pressure_MidRisk1" value="80,90" />
    <param name="diastolic_pressure_HighRisk1" value="90,300" />

    <!-- Markov chain for systolic pressure -->
    <param name="systolic_pressure_State0" value="0,0,0,0,0" />
    <param name="systolic_pressure_State1" value="0,0,0,0,0" />
    <param name="systolic_pressure_State2" value="0,0,79,18,3" />
    <param name="systolic_pressure_State3" value="0,0,23,64,13" />
    <param name="systolic_pressure_State4" value="0,0,5,26,69" />

    <!-- Risk values for systolic pressure -->
    <param name="systolic_pressure_MidRisk0" value="-1,-1" />
    <param name="systolic_pressure_HighRisk0" value="-1,-1" />
    <param name="systolic_pressure_LowRisk" value="0,120" />
    <param name="systolic_pressure_MidRisk1" value="120,140" />
    <param name="systolic_pressure_HighRisk1" value="140,300" />

</launch>