<launch> 
    <!-- Blood Oxigenation Measurement Sensor -->    
    <node name="patient" pkg="patient" type="patient" output="screen" />    

    <param name="frequency" value="10" />

    <param name="vitalSigns" value="oxigenation, heart_rate, temperature, abps, abpd, glucose" />

    <!-- Frequency for changes in states of each markov in Hertz -->
    <param name="oxigenation_Change" value="0.2"/>
    <param name="heart_rate_Change" value="0.1"/>
    <param name="temperature_Change" value="0.1"/>
    <param name="abps_Change" value="0.1"/>
    <param name="abpd_Change" value="0.1"/>
    <param name="glucose_Change" value="0.1"/>

    <!-- Offsets for each changes, in seconds -->
    <param name="oxigenation_Offset" value="10"/>
    <param name="heart_rate_Offset" value="10"/>
    <param name="temperature_Offset" value="10"/>
    <param name="abps_Offset" value="10"/>
    <param name="abpd_Offset" value="10"/>
    <param name="glucose_Offset" value="10"/>

    <!-- Markov chain for oxigenation -->
    <param name="oxigenation_State0" value="0,0,0,0,0" />
    <param name="oxigenation_State1" value="0,0,0,0,0" />
    <param name="oxigenation_State2" value="0,0,90,8,2" />
    <param name="oxigenation_State3" value="0,0,75,10,5" />
    <param name="oxigenation_State4" value="0,0,5,35,60" />

    <!-- Risk values for oximeter -->
    <param name="oxigenation_HighRisk0" value="-1,-1" />
    <param name="oxigenation_MidRisk0" value="-1,-1" />
    <param name="oxigenation_LowRisk" value="65,100" />
    <param name="oxigenation_MidRisk1" value="55,65" />
    <param name="oxigenation_HighRisk1" value="0,55" />

    <!-- Markov chain for heart frequency -->
    <param name="heart_rate_State0" value="72,21,4,2,1" />
    <param name="heart_rate_State1" value="14,61,19,4,2" />
    <param name="heart_rate_State2" value="1,17,60,20,2" />
    <param name="heart_rate_State3" value="0,2,15,70,13" />
    <param name="heart_rate_State4" value="0,1,2,20,77" />

    <!-- Risk values for heart frequency -->
    <param name="heart_rate_HighRisk0" value="0,70" />
    <param name="heart_rate_MidRisk0" value="70,85" />
    <param name="heart_rate_LowRisk" value="85,97" />
    <param name="heart_rate_MidRisk1" value="97,115" />
    <param name="heart_rate_HighRisk1" value="115,300" />

    <!-- Markov chain for temperature -->
    <param name="temperature_State0" value="25,51,21,3,0" />
    <param name="temperature_State1" value="5,50,43,2,0" />
    <param name="temperature_State2" value="0,4,85,11,0" />
    <param name="temperature_State3" value="0,1,32,67,0" />
    <param name="temperature_State4" value="0,0,0,0,0" />

    <!-- Risk values for temperature -->
    <param name="temperature_HighRisk0" value="0,31.99" />
    <param name="temperature_MidRisk0" value="32,35.99" />
    <param name="temperature_LowRisk" value="36,37.99" />
    <param name="temperature_MidRisk1" value="38,40.99" />
    <param name="temperature_HighRisk1" value="41,50" />

    <!-- Markov chain for diastolic pressure -->
    <param name="abpd_State0" value="0,0,0,0,0" />
    <param name="abpd_State1" value="0,0,0,0,0" />
    <param name="abpd_State2" value="0,0,94,4,2" />
    <param name="abpd_State3" value="0,0,50,35,15" />
    <param name="abpd_State4" value="0,0,31,25,44" />

    <!-- Risk values for diastolic pressure -->
    <param name="abpd_HighRisk0" value="-1,-1" />
    <param name="abpd_MidRisk0" value="-1,-1" />
    <param name="abpd_LowRisk" value="0,80" />
    <param name="abpd_MidRisk1" value="80,90" />
    <param name="abpd_HighRisk1" value="90,300" />

    <!-- Markov chain for systolic pressure -->
    <param name="abps_State0" value="0,0,0,0,0" />
    <param name="abps_State1" value="0,0,0,0,0" />
    <param name="abps_State2" value="0,0,79,18,3" />
    <param name="abps_State3" value="0,0,23,64,13" />
    <param name="abps_State4" value="0,0,5,26,69" />

    <!-- Risk values for systolic pressure -->
    <param name="abps_MidRisk0" value="-1,-1" />
    <param name="abps_HighRisk0" value="-1,-1" />
    <param name="abps_LowRisk" value="0,120" />
    <param name="abps_MidRisk1" value="120,140" />
    <param name="abps_HighRisk1" value="140,300" />

    <!-- Markov chain for glucose -->
    <param name="glucose_State0" value="20,40,22,15,3" />
    <param name="glucose_State1" value="10,50,20,15,5" />
    <param name="glucose_State2" value="4,9,65,12,10" />
    <param name="glucose_State3" value="0,2,33,50,15" />
    <param name="glucose_State4" value="0,0,20,45,35" />

    <!-- Risk values for glucose -->
    <param name="glucose_HighRisk0" value="20,39.99" />
    <param name="glucose_MidRisk0" value="40,54.99" />
    <param name="glucose_LowRisk" value="55,95.99" />
    <param name="glucose_MidRisk1" value="96,119.99" />
    <param name="glucose_HighRisk1" value="120,200" />

</launch>
