<launch> 
    <!-- Blood Oxigenation Measurement Sensor -->    
    <node name="g3t1_1" pkg="component" type="g3t1_1" output="screen" />

    <param name="frequency" value="0.2" /> <!-- 0.2 Hz  -->

    <!-- Defines the percentages to consider low, moderate or high risk -->
    <param name="lowrisk" value="0,20" />
    <param name="midrisk" value="21,65" />
    <param name="highrisk" value="66,100" />

    <!-- markov chain -->
    <param name="state0" value="0,0,0,0,0" />
    <param name="state1" value="0,0,0,0,0" />
    <param name="state2" value="0,0,90,8,2" />
    <param name="state3" value="0,0,75,10,5" />
    <param name="state4" value="0,0,5,35,60" />

    <!-- risk values -->
    <param name="LowRisk" value="65,100" />
    <param name="MidRisk" value="55,65" />
    <param name="HighRisk" value="0,55" />

    <!-- accuracy in percentage -->
    <param name="accuracy" value="90" type="double" />

</launch>