<launch>
    <!-- Temperature Measurement Sensor -->
    <group ns="thermo_0">
    <node name="g3t1_3" pkg="component" type="g3t1_3" output="screen" >
        <!-- Node identification -->
        <param name="instanceID" value="0" />
    </node>
    <param name="frequency" value="1" /> <!-- 1 Hz  -->

    <!-- Defines the percentages to consider low, moderate or high risk -->
    <param name="lowrisk" value="0,20" />
    <param name="midrisk" value="21,65" />
    <param name="highrisk" value="66,100" />

    <!-- accuracy in percentage -->
    <param name="data_accuracy" value="90" type="double" />
    <param name="comm_accuracy" value="100" type="double" />
    
    <remap from="/thermo_0/collect_event" to="/collect_event" />
    <remap from="/thermo_0/collect_status" to="/collect_status" />
    <remap from="/thermo_0/thermometer_data" to="/thermometer_data" />
    
   </group>

   <group ns="thermo_1">
   <node name="g3t1_3" pkg="component" type="g3t1_3" output="screen" >
        <!-- Node identification -->
        <param name="instanceID" value="1" />
   </node>
    <param name="frequency" value="1" />

    <!-- Defines the percentages to consider low, moderate or high risk -->
    <param name="lowrisk" value="0,20" />
    <param name="midrisk" value="21,65" />
    <param name="highrisk" value="66,100" />

    <!-- accuracy in percentage -->
    <param name="data_accuracy" value="90" type="double" />
    <param name="comm_accuracy" value="100" type="double" />
    
    <!-- Remapping topics -->
    <remap from="/thermo_1/collect_event" to="/collect_event" />
    <remap from="/thermo_1/collect_status" to="/collect_status" />
    <remap from="/thermo_1/thermometer_data" to="/thermometer_data" />
    
   </group>
</launch>
