<launch> 
    <!-- Glucose Measurement Sensor -->
    <node name="g3t1_6" pkg="component" type="g3t1_6" output="screen" />

    <param name="start" value="true" />

    <param name="frequency" value="0.6" /> <!-- 1 Hz  -->

    <!-- Defines the percentages to consider low, moderate or high risk -->
    <param name="lowrisk" value="0,20" />
    <param name="midrisk" value="21,65" />
    <param name="highrisk" value="66,100" />

    <!-- accuracy in percentage -->
    <param name="data_accuracy" value="99" type="double" />
    <param name="comm_accuracy" value="100" type="double" />

    <!-- instant recharge parameter-->
    <param name="instant_recharge" value="true" type="bool" />

</launch>
